.field_with_errors label{
  color: rgb(169, 68, 66);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.field_with_errors input{
  border-color: rgb(169, 68, 66);
}
